$primary: #AA0601;
$secondary: #650300;
$third: #AA06010D;
$four: #F2F2F2;

$text-med: #707070;
$light: #FFFFFF;
$text-dark: #000000;

$border: #DEE2E6;
//space
$spacer: 16px; //16px

//text
$text-sm: 20px;

$text-lg: 72px;
